/.idea/workspace.xml
.idea
Free Code Camp Course/Django/.vscode/settings.json
Free Code Camp Course/Django/src/trydjango/__pycache__/settings.cpython-37.pyc
Free Code Camp Course/Django/src/trydjango/__pycache__/urls.cpython-37.pyc
