<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Last Tweets</title>
</head>

<body>
    <form method="POST" action=".">{% csrf_token %}
        Twitter account name:
        <input type="text" name="account_name"><br>
        <input type="submit" value="Search">
    </form>

    {% if account_name %}
        <p>
            <h3>Account searched: {{ account_name }}</h3>
        </p>
    {% endif %}

    {% for t in tweets %}

        <li>{{ t }}</li>

    {% endfor %}
</body>


</html>